* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
img {
    width : 325px;
    height : 450px;
    padding : 20px;
    align-self: center;
}
.bio{
    border: solid green 2px;
    width: 50%;
    margin: auto;
}
iframe{
    margin-top: 50px;
    width: 40%;
}



